// @prefix __app_get_logueado
// @description

\$app->get('/logueado', function () {
\$test = validateToken();
if (is_array(\$test))
echo json_encode(\$test);
else
echo json_encode(array("no_auth" => "No tienes permisos para usar este servicio"));
});