// @prefix __ctes_servicios
// @description

use Firebase\JWT\JWT;
use Firebase\JWT\Key;

require 'Firebase/autoload.php';

define("SERVIDOR_BD","localhost");
/*define("USUARIO_BD","jose");
define("CLAVE_BD","josefa");*/
define("USUARIO_BD","root");
define("CLAVE_BD","");
define("NOMBRE_BD","bd_tienda");
define("PASSWORD_API","PASSWORD_DE_MI_APLICACION");